@model WebApp.NET_MVC_2022_12D_PP_Encuestadora.Models.OpcionPregunta

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OpcionPregunta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OpcionPreguntaId" />
            <div class="form-group">
                <label asp-for="tituloOpcion" class="control-label"></label>
                <input asp-for="tituloOpcion" class="form-control" />
                <span asp-validation-for="tituloOpcion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="opcionSeleccionada" /> @Html.DisplayNameFor(model => model.opcionSeleccionada)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PreguntaId" class="control-label"></label>
                <select asp-for="PreguntaId" class="form-control" asp-items="ViewBag.PreguntaId"></select>
                <span asp-validation-for="PreguntaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
