@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Encuestadora</h1>
    <p>Seccion Clientes <a class="text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">CRUD Clientes</a></p>
    <p>Seccion Encuestas <a class="text-dark" asp-area="" asp-controller="Encuesta" asp-action="Index">CRUD Encuestas</a></p>
    <p>Seccion Usuarios <a class="text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">CRUD Usuarios</a></p>
</div>
