@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la Encuestadora</h1>
    <p>--------------------Seccion Clientes--------------------</p>
    <p><a class="text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">CRUD Clientes</a></p>
    <p><a class="text-dark" asp-area="" asp-controller="Encuesta" asp-action="Index">CRUD Cliente/Encuestas</a></p>
    <p><a class="text-dark" asp-area="" asp-controller="Pregunta" asp-action="Index">CRUD Cliente/Encuesta/Preguntas</a></p>
    <p><a class="text-dark" asp-area="" asp-controller="OpcionPregunta" asp-action="Index">CRUD Cliente/Encuesta/Pregunta/Opciones</a></p>
    <h6>FALTA VISUALIZAR RESULTADO DE ENCUESTAS (FINALIZADAS/VENCIDAS)</h6>
    <p>--------------------Seccion Usuarios--------------------</p>
    <p><a class="text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">CRUD Usuarios</a></p>
    <p><a class="text-dark" asp-area="" asp-controller="Encuesta" asp-action="Disponibles">Ver Encuestas disponibles</a></p>
    @*<h6>Seccion Usuarios <a class="text-dark" asp-area="" asp-controller="EncuestaUsuario" asp-action="Index">Relacionar EncuestasUsuarios</a></h6>*@
    <h6>FALTA VER PUNTOS ACUMULADOS (USANDO LA REALACION ENCUESTASUSUARIOS)</h6>


    @*<section class="row how-to-earn">
            <div class="section-wrap">
                <h2 class="how-to-earn-heading">
                    Cómo ganar con encuestas pagadas en 3 sencillos pasos
                </h2>
                <div class="row how-to-earn-row">
                    <div class="col-12 col-lg-4 how-to-earn-col">
                        <img class="col-icon" alt="Registering on metroopinion.com" src="https://www.metroopinion.com/img/icons/icon_pencil-edit.svg">
                        <h4 class="how-to-earn-col-heading">Regístrese</h4>
                        <p>
                            Todos pueden unirse. Es fácil de registrarse y solo toma 30 segundos.
                            <a href="#sign-up" class="fw-bold">Inicie el registro aquí</a>
                        </p>
                    </div>
                    <div class="col-12 col-lg-4 how-to-earn-col">
                        <img class="col-icon" alt="Answering online surveys" src="https://www.metroopinion.com/img/icons/icon_chat_alt.svg">
                        <h4 class="how-to-earn-col-heading">Responder</h4>
                        <p>
                            Se le invitará por correo electrónico a las encuestas. Contesta honestamente. Sus respuestas son anónimas.
                        </p>
                    </div>
                    <div class="col-12 col-lg-4 how-to-earn-col">
                        <img class="col-icon" alt="Getting paid for answering online surveys" src="https://www.metroopinion.com/img/icons/icon_wallet_alt.svg">
                        <h4 class="how-to-earn-col-heading">Recibir el pago</h4>
                        <p>
                            Cuando haya alcanzado el umbral de pago, puede recibir el pago con un solo clic.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    *@

</div>