@model WebApp.NET_MVC_2022_12D_PP_Encuestadora.Models.Cliente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreCliente" class="control-label"></label>
                <input asp-for="nombreCliente" class="form-control" />
                <span asp-validation-for="nombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mailCliente" class="control-label"></label>
                <input asp-for="mailCliente" class="form-control" />
                <span asp-validation-for="mailCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passwordCliente" class="control-label"></label>
                <input asp-for="passwordCliente" class="form-control" />
                <span asp-validation-for="passwordCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="empresaCliente" class="control-label"></label>
                <input asp-for="empresaCliente" class="form-control" />
                <span asp-validation-for="empresaCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cuitCliente" class="control-label"></label>
                <input asp-for="cuitCliente" class="form-control" />
                <span asp-validation-for="cuitCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="domicilioCliente" class="control-label"></label>
                <input asp-for="domicilioCliente" class="form-control" />
                <span asp-validation-for="domicilioCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precioCliente" class="control-label"></label>
                <select asp-for="precioCliente" class="form-control" asp-items="Html.GetEnumSelectList<PrecioCliente>()">
                    <option selected="selected" value="">Seleccione una Membresia </option>
                </select>
                <span asp-validation-for="precioCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
